.border-red {
  border: 1px solid red;
}

.header {
  background: #151515 url(../images/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.header-text-container {
  z-index: 10;
}
.header-skills {
  font-family: "Lora", serif;
}
.header-social-icons {
  bottom: 50px;
}

@media (max-width: 767px) {
  .header-social-icons i {
    font-size: 30px;
  }
  .header .skills {
    font-size: 18px !important;
  }
}
