.border-red {
  border: 1px solid red;
}

.header {
  background: #151515 url(../images/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  // !review ud
  // we could wrap the content with another div as overlay and style instead
  // after pseudo selector is like doing the same (creating and extra element)
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  &-text-container {
    z-index: 10;
  }
  &-skills {
    font-family: "Lora", serif;
  }
  &-social-icons {
    bottom: 50px;
  }
}

.about {
  &-img {
  }
}

@media (max-width: 767px) {
  .header {
    &-social-icons i {
      font-size: 30px;
    }
  }
  .header .skills {
    font-size: 18px !important;
  }
}
